In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import factorial
import warnings
warnings.filterwarnings('ignore')

# Сочетания из n по k
def combinations(n, k):
    return int(factorial(n) / (factorial(k) * factorial(n - k)))

#### Задача 1

Даны значения зарплат из выборки выпускников: 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150. Посчитать (желательно без использования статистических методов наподобие std, var, mean) среднее арифметическое, среднее квадратичное отклонение, смещенную и несмещенную оценки дисперсий для данной выборки.

Массив исходных данных:

In [2]:
df = pd.DataFrame([100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150], columns=['data']);
df

    data
0    100
1     80
2     75
3     77
4     89
5     33
6     45
7     25
8     65
9     17
10    30
11    24
12    57
13    55
14    70
15    75
16    65
17    84
18    90
19   150

In [3]:
df.shape

(20, 1)

Среднее арифметическое:

In [4]:
m = df['data'].sum() / df['data'].count()
m

65.3

Среднее квадратичное отклонение:

In [5]:
std = np.sqrt(((df['data'] - m)**2).sum() / df['data'].count())
std

30.823854398825596

Смещенная оценка дисперсии:

In [6]:
variance = ((df['data'] - m)**2).sum() / df['data'].count()
variance

950.11

Несмещенная оценка дисперсии:

In [7]:
variance = ((df['data'] - m)**2).sum() / (df['data'].count() - 1)
variance

1000.1157894736842

#### Задача 2

В первом ящике находится 8 мячей, из которых 5 - белые. Во втором ящике - 12 мячей, из которых 5 белых. Из первого ящика вытаскивают случайным образом два мяча, из второго - 4. Какова вероятность того, что 3 мяча белые?

Ровно 3 белых мяча могут получится в следующих случаях:

1) Из первого ящика 0 белых и 2 черных, из второго 3 белых и 1 черный.<br>
2) Из первого ящика 1 белый и 1 черный, из второго 2 белых и 2 черных.<br>
3) Из первого ящика 2 белых и 0 черных, из второго 1 белый и 3 черных.<br>

Вероятность из первого ящика 0 белых и 2 черных

In [8]:
A_0_2 = combinations(5, 0)*combinations(3, 2) / combinations(8, 2)
A_0_2

0.10714285714285714

Вероятность из первого ящика 1 белый и 1 черный

In [9]:
A_1_1 = combinations(5, 1)*combinations(3, 1) / combinations(8, 2)
A_1_1

0.5357142857142857

Вероятность из первого ящика 2 белых и 0 черных

In [10]:
A_2_0 = combinations(5, 2)*combinations(3, 0) / combinations(8, 2)
A_2_0

0.35714285714285715

Вероятность из второго 3 белых и 1 черный

In [11]:
B_3_1 = combinations(5, 3)*combinations(7, 1) / combinations(12, 4)
B_3_1

0.1414141414141414

Вероятность из второго 2 белых и 2 черных

In [12]:
B_2_2 = combinations(5, 2)*combinations(7, 2) / combinations(12, 4)
B_2_2

0.42424242424242425

Вероятность из второго 1 белый и 3 черных

In [13]:
B_1_3 = combinations(5, 1)*combinations(7, 3) / combinations(12, 4)
B_1_3

0.35353535353535354

Вероятность первого случая равна

In [14]:
A_0_2 * B_3_1

0.01515151515151515

Вероятность второго случая равна

In [15]:
A_1_1 * B_2_2

0.22727272727272727

Вероятность третьего случая равна

In [16]:
A_2_0 * B_1_3

0.12626262626262627

Вероятность вытащить ровно 3 белых мяча равна

In [17]:
p = A_0_2 * B_3_1 + A_1_1 * B_2_2 + A_2_0 * B_1_3
p

0.3686868686868687

#### Задача 3

На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень. Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6. Найти вероятность того, что выстрел произведен: a). первым спортсменом б). вторым спортсменом в). третьим спортсменом.

Обозначим за A событие попадания в мишень. Каждый из трех стрелков может произвести выстрел с равной вероятностью. Поэтому по формуле полной вероятности имеем

In [18]:
A = 1/3 * 0.9 + 1/3 * 0.8 + 1/3 * 0.6
A

0.7666666666666666

Вероятность того, что успешный выстрел произведен первым спортсменом по формуле Байеса

In [19]:
p1 = (1/3 * 0.9) / A
p1

0.391304347826087

Вероятность того, что успешный выстрел произведен вторым спортсменом по формуле Байеса

In [20]:
p2 = (1/3 * 0.8) / A
p2

0.3478260869565218

Вероятность того, что успешный выстрел произведен третьим спортсменом по формуле Байеса

In [21]:
p2 = 1/3 * 0.6 / A
p2

0.2608695652173913

#### Задача 4

В университет на факультеты A и B поступило равное количество студентов, а на факультет C студентов поступило столько же, сколько на A и B вместе. Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8. Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9. Студент сдал первую сессию. Какова вероятность, что он учится: a). на факультете A б). на факультете B в). на факультете C?

Вероятности того, что студент учится на факультетах A, B и C соответственно равны

In [22]:
pA = 0.25
pB = 0.25
pC = 0.5

Пусть D - событие, что студент сдал сессию. По формуле полной вероятности

In [23]:
D = 0.25 * 0.8 + 0.25 * 0.7 + 0.5 * 0.9
D

0.825

Вероятность того, что студент учится на факультете A

In [24]:
Da = (0.25 * 0.8) / D
Da

0.24242424242424246

Вероятность того, что студент учится на факультете B

In [25]:
Db = (0.25 * 0.7) / D
Db

0.21212121212121213

Вероятность того, что студент учится на факультете C

In [26]:
Dc = (0.5 * 0.9) / D
Dc

0.5454545454545455

#### Задача 5

Устройство состоит из трех деталей. Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2, для третьей - 0.25. Какова вероятность того, что в первый месяц выйдут из строя: а). все детали б). только две детали в). хотя бы одна деталь г). от одной до двух деталей?

а). все детали

Так как из строя должны выйти все три детали одновременно, по теореме умножения вероятностей имеем

In [27]:
p = 0.1 * 0.2 * 0.25
p

0.005000000000000001

б). только две детали

Пусть события A - вышло из строя ровно 2 детали. Это может произойти в следующих случаях:<br>
Вышла из строя первая и вторая деталь<br>
Вышла из строя первая и третья деталь<br>
Вышла из строя вторая и третья деталь<br>
Так как эти случаи события несовместные, то пользуясь формула сложения и умножения вероятностей событий имеем

In [28]:
p2 = 0.1 * 0.2 * 0.75 + 0.1 * 0.25 * 0.8 + 0.9 * 0.2 * 0.25
p2

0.08000000000000002

в). хотя бы одна деталь

Найдем вероятность события, что ни одна деталь не вышла из строя

In [29]:
a = 0.9 * 0.8 * 0.75
a

0.54

Тогда вероятность события, что хотя бы одна деталь вышла из строя

In [30]:
p = 1 - a
p

0.45999999999999996

г). от одной до двух деталей?

Это вероятность суммы событий = вышла из строя одна деталь или вышла из строя две детали

Вероятность, что вышла из строя ровно 1 деталь.

In [31]:
p1 = 0.1 * 0.8 * 0.75 + 0.9 * 0.2 * 0.75 + 0.9 * 0.8 * 0.25
p1

0.375

Вероятность того, что вышла из строя ровно 2 детали. Уже найдено выше

In [32]:
p2

0.08000000000000002

Вероятность того, что вышла из строя или одна деталь или 2 детали равна

In [33]:
p = p1 + p2
p

0.455